{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div {% if particle.id %}id="{{ particle.id }}" {% endif %}class="about-me {{ particle.class }}">
        <div class="g-grid">

            <div class="g-block size-35 push">
                <div class="g-content">

                    <div class="g-grid">
                        <div class="biography">

                            {% if particle.photo %}
                                <div class="wow fadeInUp my-photo">
                                    <img src="{{ url(particle.photo) }}"
                                         alt="{{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_NAME'|t|e }} Photo"
                                    >
                                </div>
                            {% endif %}
                            <div class="wow fadeInUp">
                                <ul>
                                    {% if particle.name %}
                                        <li>
                                            <strong>
                                                {{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_NAME'|t|e }}:
                                            </strong>
                                            {{ particle.name }}
                                        </li>
                                    {% endif %}

                                    {% if particle.birth %}
                                        <li>
                                            <strong>
                                                {{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_BIRTH'|t|e }}:
                                            </strong>
                                            {{ particle.birth }}
                                        </li>
                                    {% endif %}

                                    {% if particle.phone %}
                                        <li>
                                            <strong>
                                                {{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_PHONE'|t|e }}:
                                            </strong>
                                            <a href="tel:{{ particle.phone }}">{{ particle.phone }}</a>
                                        </li>
                                    {% endif %}

                                    {% if particle.email %}
                                        <li>
                                            <strong>
                                                {{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_EMAIL'|t|e }}:
                                            </strong>
                                            <a href="mailto:{{ particle.email }}">{{ particle.email }}</a>
                                        </li>
                                    {% endif %}

                                    {% if particle.address %}
                                        <li>
                                            <strong>
                                                {{ 'TPL_OTHERCODE_PARTICLE_ABOUTME_ADDRESS'|t|e }}:
                                            </strong>
                                            {{ particle.address|raw }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="g-block size-65 pull">
                <div class="g-content">

                    <div class="g-grid">
                        <div class="{{ particle.class }} wow fadeInUp short-info">
                            <div>{{ particle.bio|raw }}</div>
                            <ul class="list-check">
                                {% for hobby in particle.hobbies %}
                                    <li {% if hobby.id %}id="{{ hobby.id|e }}"{% endif %}
                                        class="{{ hobby.class }} {{ hobby.variations }}">
                                        {{ hobby.title|raw }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% if particle.summaries|length > 0 %}
                        <div class="g-grid">
                            {% for summary in particle.summaries %}
                                <div {% if summary.id %}id="{{ summary.id|e }}"{% endif %}
                                     class="g-block size-100 {{ summary.class }} {{ summary.variations }}">
                                    {{ summary.content|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if  particle.contact.link or particle.cv.link %}
                        <div class="g-grid">
                            <div class="g-block size-100 wow fadeInUp download-button">

                                {% if particle.contact.link %}
                                    <a class="button button-primary"
                                       href="{{ url(particle.contact.link) }}"
                                       aria-label="{{ "TPL_OTHERCODE_PARTICLE_ABOUTME_CONTACT_LINK"|t|e }}">
                                        <i class="fa fa-paper-plane"></i> {{ "TPL_OTHERCODE_PARTICLE_ABOUTME_CONTACT_LINK"|t|e }}
                                    </a>
                                {% endif %}

                                {% if particle.cv.link %}
                                    <a class="button button-secondary"
                                       href="{{ url(particle.cv.link) }}"
                                       aria-label="{{ "TPL_OTHERCODE_PARTICLE_ABOUTME_MY_CV_LINK"|t|e }}"
                                       target="_blank">
                                        <i class="fa fa-download"></i> {{ "TPL_OTHERCODE_PARTICLE_ABOUTME_MY_CV_LINK"|t|e }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}