{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="full-frontal-splash{% if particle.slide %} filter{% endif %}">
        <div class="g-grid">
            <div class="g-block">
                <div class="g-content">

                    {% if particle.video %}
                        <video autoplay loop muted>
                            <source src="{{ url(particle.video) }}">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}

                    {% if particle.video %}
                    <div class="overlay-video">
                        {% endif %}

                        <div class="wrapper">

                            {% if particle.image %}
                                <img src="{{ url(particle.image) }}" alt="{{ particle.headline|e }}"/>
                            {% endif %}

                            <h3 {% if not particle.link %}class="button-action"{% endif %}>

                                {% if particle.link %}
                                <a href="{{ particle.link|e }}">
                                    {% endif %}

                                    {% if particle.headline %}{{ particle.headline|raw }}{% else %}Servicios{% endif %}
                                    <img src="{{ url('gantry-media://full-frontal-splash/bottom-arrow.png') }}"
                                         class="buttom-arrow {{ particle.arroworientation|raw }} {% if particle.link %}button-action{% endif %}"
                                         alt="buttom-arrow">

                                    {% if particle.link %}
                                </a>
                                {% endif %}
                            </h3>

                            {% if particle.slide %}
                            <div class="hidden-content">
                                {% endif %}
                                {% if particle.description %}
                                    <div class="description">{{ particle.description|raw }}</div>{% endif %}
                                {% if particle.linktext %}
                                    <p><a href="{{ particle.link|e }}" class="button">{{ particle.linktext|e }}</a></p>
                                {% endif %}
                                {% if particle.slide %}
                            </div>
                            {% endif %}
                        </div>

                        {% if particle.video %}
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    {% if particle.slide %}
        <script>
            var toggleClick = 0;
            jQuery('.button-action').click(function () {
                toggleClick += 1;
                var finalHeight = 0;
                var contentHeight = jQuery(".full-frontal-splash .g-content").height();
                var hiddenContentHeight = jQuery(".full-frontal-splash .hidden-content").height() + 25;
                if (toggleClick % 2) {
                    finalHeight = contentHeight + hiddenContentHeight;
                    jQuery(".full-frontal-splash .g-content").animate({height: finalHeight + "px"}, "slow", function () {
                        {% for section in particle.sections %}
                        jQuery('{{ section.element }}.full-frontal-control').slideDown("slow", function () {
                            {% endfor %}

                            {% for section in particle.sections %} }); {% endfor %}
                    });

                } else {
                    finalHeight = contentHeight - hiddenContentHeight;
                    {% for section in particle.sections|reverse %}
                    jQuery('{{ section.element }}.full-frontal-control').slideUp("slow", function () {
                        {% endfor %}
                        jQuery(".full-frontal-splash .g-content").animate({height: finalHeight + "px"}, "slow");
                        {% for section in particle.sections %} }); {% endfor %}
                }
            });
        </script>
    {% endif %}
{% endblock %}


