{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="progress-container">
        {% if particle.title %}
            <div class="progress-title">
                <h3>{{ particle.title }}</h3>
            </div>
        {% endif %}
        <div class="progress">
            <div id="item-{{ id }}" class="bar six-sec-ease-in-out"
                 style="background-color: {{ particle.color }}"
                 role="progressbar"
                 aria-valuenow="{{ particle.percent }}"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <span>{{ particle.percent }}%</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_footer %}
    {% do gantry.load('jquery') %}
    <script type="text/javascript">
        jQuery('#item-{{ id }}').bind('inview', function (event, visible, visiblePartX, visiblePartY) {
            if (visible) {
                jQuery('#item-{{ id }}').css('width', jQuery('#item-{{ id }}').attr('aria-valuenow') + '%');
                jQuery(this).unbind('inview');
            }
        });
    </script>
{% endblock %}